<% provide(:title, "About") %>

<h1>About</h1>
<p>
  The <a href="http://www.usfsigep.com/"><em> SigEp Flordia Iota Chapter</em></a> is an
  <a href="http://www.sigep.org">Experience</a> that
  <a href="http://youtube.com/">You</a>
  will not regret. </br>
  <a href="http://google.com"> Steven learned to make web applications </a>.</br>
  This is a test for content that will soon occupy this page.
</p>