<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
  Chance is perhaps the pseudonym of God when He did not want to sign.
</br>

  <a href="http://www.sigep.org">The greatest of faults, I should say, is to be conscious of none</a>.

</br>

  What is history, but a
  <a href="http://www.railstutorial.org/book"><em> Fable</em>
  </a>agreed upon?
</br>
  Philosophy is the highest music.
</br>
A poem should not mean, but be.
</p>